In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

In [41]:
historical_stats_table_html = open('historical_stats_html.txt', 'r')
soup = BeautifulSoup(historical_stats_table_html, 'lxml')
historical_stats_table_html.close()

In [42]:
historical_batting_table = soup.select('table.ststats')[0]
historical_batting_table_df = pd.DataFrame()
historical_batting_table_df = pd.read_html(str(historical_batting_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
historical_batting_table_df

                 Statistics
                    Batsman              Team   M   I NO   HS    R   AVG.
0        1. Mitchel Bacchus          Panthers  12  12  4  107  500  62.50
1      2. Dinesh Ramkissoon          Smashers  10  10  2  120  484  60.50
2       3. Randy Roopnarine        Cumberland  12  12  3  115  431  47.89
3      4. Sanjeev Ramnarine  Brampton Rangers  12  11  5  121  406  67.67
4           5. Jack Mohabir           Shawson  12  11  1   78  384  38.40
..                      ...               ...  ..  .. ..  ...  ...    ...
221   222. Kevin Madramuthu          Wakenaam   1   0  0    0    0   0.00
222         223. Martin Aly  Cambridge Jaguar   1   1  1    0    0   0.00
223   224. Purneshwar Singh           Shawson   1   0  0    0    0   0.00
224  225. Harry Jaggernauth           Shawson   3   2  2    0    0   0.00
225   226. Yogindra Faribar           Shawson   2   1  1    0    0   0.00

[226 rows x 8 columns]

In [43]:
historical_bowling_table = soup.select('table.ststats')[1]
historical_bowling_table_df = pd.DataFrame()
historical_bowling_table_df = pd.read_html(str(historical_bowling_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
historical_bowling_table_df

                      Bowler               Team   M     O    R  WKT    RPO
0               1. Ansar Ali           Wakenaam  12  46.0  214   28   4.65
1         2. Mitchel Bacchus           Panthers  12  47.3  255   25   5.37
2             3. Sam Punwasi  Royal Challengers  11  43.0  250   24   5.81
3            4. Vishnu Moses           Smashers  12  46.0  250   22   5.43
4          5. Mukesh Jaglall   Brampton Rangers  12  45.0  272   22   6.04
..                       ...                ...  ..   ...  ...  ...    ...
146        147. Ravi Rukhram           West End   5   1.0   16    0  16.00
147       148. Merwyn Xavier         Humberwood   5   1.0   19    0  19.00
148      149. Hilton Perumal            Horizon   3   1.0   20    0  20.00
149        150. Rajesh Singh           Smashers  12   1.0   22    0  22.00
150  151. Abinash Ramnarayan            Shawson   6   2.0   44    0  22.00

[151 rows x 7 columns]

In [40]:
with pd.ExcelWriter("historical_stats.xlsx", mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
  historical_batting_table_df.to_excel(writer, sheet_name="2012_regular_season", startrow=0, startcol=0)
  historical_bowling_table_df.to_excel(writer, sheet_name="2012_regular_season", startrow=231, startcol=0)