In [7]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

In [33]:
historical_table_html = open('historical_standings_html.txt', 'r')
soup = BeautifulSoup(historical_table_html, 'lxml')
historical_table_html.close()

In [34]:
historical_east_table = soup.select('table.firstdiv')
historical_east_table_df = pd.DataFrame()
historical_east_table_df = pd.read_html(str(historical_east_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
historical_east_table_df

                East Zone
                     Team   M   W   L  D   NRR PTS
0    1. Wakenaam Ramblers  12  11   1  0  2.91  81
1              2. Shawson  12  10   2  0  1.93  69
2    3. Royal Challengers  12   9   3  0  2.11  65
3           4. Cumberland  12   8   4  0  1.40  63
4             5. Smashers  12   8   4  0  1.30  60
5     6. Brampton Rangers  12   8   4  0  1.07  59
6            7. Tricounty  12   5   7  0  0.00  37
7             8. Panthers  12   5   7  0 -0.57  37
8           9. Humberwood  12   5   7  0 -0.65  37
9   10. Cambridge Jaguars  12   4   8  0 -0.07  32
10        11. Island Boys  12   3   9  0 -1.51  21
11           12. West End  12   2  10  0 -3.04  14
12            13. Horizon  12   0  12  0 -5.27   3

In [35]:
historical_west_table = soup.select('table.seconddiv')
historical_west_table_df = pd.DataFrame()
historical_west_table_df = pd.read_html(str(historical_west_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
historical_west_table_df

Empty DataFrame
Columns: [(West Zone, Team), (West Zone, M), (West Zone, W), (West Zone, L), (West Zone, D), (West Zone, NRR), (West Zone, PTS)]
Index: []

In [32]:
with pd.ExcelWriter("historical_standings.xlsx", mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
  historical_east_table_df.to_excel(writer, sheet_name="2012_regular_season", startrow=0, startcol=0)
  # historical_west_table_df.to_excel(writer, sheet_name="2015_regular_season", startrow=0, startcol=10)