In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

In [21]:
team_stats_table_html = open('2022_t15_team_stats_html.txt', 'r')
soup = BeautifulSoup(team_stats_table_html, 'lxml')
team_stats_table_html.close()

In [22]:
batting_stats_table = soup.select('table.ststats')[0]
batting_stats_table_df = pd.DataFrame()
batting_stats_table_df = pd.read_html(str(batting_stats_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
batting_stats_table_df

                          Statistics
                             Batsman            Team  M  I NO   HS    R   AVG.
0                     1. Azam Haniff         Masters  4  4  1   90  195   65.0
1                   2. Adrian Sukhwa         Pegasus  3  3  1  126  163   81.5
2                 3. Kumar Doodnauth         Masters  4  3  3   84  134  134.0
3    4. Devanand (Devo) Ramsawak (C)         Pegasus  4  4  2   58  127   63.5
4               5. Jeetendra Beharry  Paris Sunshine  2  2  1   99  114  114.0
..                               ...             ... .. .. ..  ...  ...    ...
143              144. Mark Nazir (C)         Masters  4  0  0    0    0    0.0
144                  145. Pete Sukhu         Masters  1  0  0    0    0    0.0
145     146. Muniram Ramdyal (Doddy)         Masters  1  0  0    0    0    0.0
146      147. Loakram (Naresh) Singh         Masters  2  0  0    0    0    0.0
147              148. Nathan Persaud     Industry CC  1  0  0    0    0    0.0

[148 rows x 8 columns]

In [23]:
bowling_stats_table = soup.select('table.ststats')[1]
bowling_stats_table_df = pd.DataFrame()
bowling_stats_table_df = pd.read_html(str(bowling_stats_table))[0]
# batting_stats_table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
bowling_stats_table_df

                   Bowler               Team  M     O    R  WKT    RPO
0    1. Richie Shivrattan            Pegasus  3   8.0   58    7   7.25
1   2. Satrohan Doodnauth            Masters  4  12.0  102    6   8.50
2       3. Mark Nazir (C)            Masters  4  12.0   95    5   7.92
3        4. Rajesh Willie     Paris Sunshine  2   3.0   12    5   4.00
4          5. Kemraj Rama  Aces Cricket Club  2   6.0   54    5   9.00
..                    ...                ... ..   ...  ...  ...    ...
83      84. Jai D. Narine      Cool Runningz  1   1.0   24    0  24.00
84     85. Ashtaq Mohamed  Aces Cricket Club  2   3.0   40    0  13.33
85       86. Steve Ganesh         Phoenix 11  1   3.0   57    0  19.00
86     87. Haseeb Gaffoor         Enterprise  1   3.0   35    0  11.67
87       88. Nishal Singh            Pegasus  1   3.0   29    0   9.67

[88 rows x 7 columns]

In [24]:
with pd.ExcelWriter("team_statistics.xlsx", mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
  batting_stats_table_df.to_excel(writer, sheet_name="2022_t15", startrow=0, startcol=0)
  bowling_stats_table_df.to_excel(writer, sheet_name="2022_t15", startrow=153, startcol=0)